.tabScroll {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; /* Firefox */
  scrollbar-color: #52525b transparent;
  -ms-overflow-style: none;
}

.tabScroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
  height: 8px;
}

.tabScroll::-webkit-scrollbar-track {
  background: transparent;
}

.tabScroll::-webkit-scrollbar-thumb {
  background: #52525b;
  border-radius: 4px;
}
